/* RESET STYLINGS by Josh Comeau

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* Change the white to any color */
/* Removes blue background-color on autofill in chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* ----------------------------------- */

:root {
  font-family: "Poppins", sans-serif;
  --form-section-padding: 0 15vw 0 60px;
}
button,
input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
}
main {
  display: flex;
}
a {
  text-decoration: none;
  color: rgb(51, 131, 117);
}

.logo-panel {
  background-image: url(/imgs/douglas-bagg-FB406CKGL0Q-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 400px;
  min-height: 110vh;
  min-width: 35vw;
}
.title-logo-container {
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.616);
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo {
  height: 100px;
  width: 100px;
}
#logo-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
}

.signup {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  background-color: whitesmoke;
  width: 100%;
}
/* .signup > * {
  
} */
.signup-header > * {
  padding: var(--form-section-padding);
  padding-top: 20px;
  padding-bottom: 20px;
}
.signup h1,
.signup h2 {
  font-weight: 500;
  font-size: 24px;
}
.form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.form > h1 {
  padding-bottom: 30px;
}
.form-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  gap: 25px;
  padding: var(--form-section-padding);
  padding-top: 40px;
  padding-bottom: 70px;
  box-shadow: 0 5px 10px rgb(231, 231, 231);
}
.form-main > * {
  display: flex;
  flex-wrap: wrap;

  gap: 40px;
}
.form-field {
  display: flex;
  flex-direction: column;
  width: 250px;
}
.form-field > label {
  font-size: 14px;
  font-weight: 500;
  color: rgb(131, 131, 131);
  text-transform: uppercase;
}
.form-field input {
  border: 2px solid rgb(75, 75, 75);
  padding: 6px 10px 6px 10px;
  border-radius: 6px;
}
input:focus {
  border-color: rgb(83, 137, 192);
}
input:valid {
  border-color: rgb(52, 186, 52);
}

input:invalid:focus {
  border-color: rgb(211, 47, 47);
}
.create-account-section {
  padding: var(--form-section-padding);
}
.create-account-section > * {
  margin-top: 40px;
}
input[value="Create Account"] {
  color: white;
  font-weight: 700;
  background-color: rgb(84, 168, 154);
  border-radius: 15px;
  padding: 14px 50px 14px 50px;
  box-shadow: -5px 5px 10px rgb(231, 231, 231);
}
input[value="Create Account"]:hover {
  background-color: rgb(122, 219, 202);
}

/* For smaller screens */
@media (max-width: 1000px) {
  main {
    flex-direction: column;
  }
  .logo-panel {
    min-height: 500px;
    padding-bottom: 0;
  }
  .title-logo-container {
    width: 100%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.616);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
